.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
outputs/**
!outputs/raster
!outputs/tables
!outputs/vector
!.gitkeep
figures/**
data/**
!data/vector
!data/tables
!data/raster
src/arcgis
src/qgis
src/old
doc
.tmp.driveupload/