.Rproj.user
.Rhistory
.RData
.Ruserdata
.quarto
outputs/**
!outputs/raster
!outputs/tables
!outputs/vector
figures/**
data/**
!data/vector
!data/tables
!data/raster
!.gitkeep
/src/arcgis
/src/qgis
/src/r/old
doc
.tmp.driveupload/