.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/outputs
/figures
*.tif
*.parquet
*.nc
*.xml
*.ovr
*.cpg
*.dbf
*.tfw
*.pptx
data/vector/water_courses.gpkg
/src/arcgis
/src/qgis
/doc/
.tmp.driveupload/